.register-form {
    display: flex;
    flex-direction: column;
    height: 430px;
    width: 400px; /* Adjust width as needed */
    padding: 20px;
    border: 1px solid #615353;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(199, 16, 16, 0.1);
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);    
}

.register-form label{
    font-size: 20px;
}

/* Style for input fields */
.register-form input[type="text"],
.register-form input[type="password"],
.register-form input[type="submit"],
.register-form   input[type="button"] 
 {
    width: 200px;
    margin-top: 10px;    
    height: 35px;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style for submit button */
.register-form   input[type="submit"],
.register-form   input[type="button"] {
    width: 150px;
    margin-top: 15px;
    background-color: #4CAF50; /* Button color */
    color: white;              /* Text color */
    cursor: pointer;
    font-weight: bold;
    border: none;
}

/* Change submit button color on hover */
.register-form input[type="submit"]:hover,
.register-form   input[type="button"]:hove {
    background-color: #45a049;
}

/* If you input in the blank the placeholder will show in the Top*/
.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 7px;
    margin-bottom: 5px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 12px;
    font-size: 16px;
    color: #999;
    transform: translateY(-50%);
    transition: 0.2s ease all;
    pointer-events: none;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: 2px;
    left: 8px;
    font-size: 12px;
    color: #74b9ff;
    background-color: #fff;
    padding: 0 5px;
}

.error {
    position:absolute;
    width: 400px;
    top: 32px;
    left: -98px;
    font-size: 12px;
    color: red;
    margin-top: 5px;
    text-align: center; 
    margin-top: 8px;
}

/*---------------End---------------------*/

